<h2>Matchmaking</h2>
<h3><%= currentUser %></h3>
<p>Searching for available players...</p>

<ul>
<% for(var i=0; i<users.length; i++) { %>
	<li>
		<%= users[i].username %> <a name="iButton<%= users[i].id %>" id="iButton<%= users[i].id %>" href="javascript:void(0)" onclick="$.ajax({url: '/invite/<%= users[i].id %>'}); $('#iButton<%= users[i].id %>').attr('disabled', true);" class="btn btn-lg btn-primary">Invite</a>
	</li>
<% } %>
</ul>

<script type="text/javascript">
window.onload = function () {
	$(window).unload(function(){
		  $.get("/matchmaking/leave",{});
	});
}
</script>