<h2>Matchmaking</h2>
<h3>Welcome, <%= currentUser %>.</h3>
<p>Players in matchmaking:</p>

<ul>
<% if (users.length == 0) { %>
<li>There are no users in matchmaking.  Please wait...</li>
<% } %>
<% for(var i=0; i<users.length; i++) { %>
	<li>
		<%= users[i].username %> has won <%= users[i].numberOfWins %> games <a name="iButton<%= users[i].id %>" id="iButton<%= users[i].id %>" href="javascript:void(0)" onclick="$.ajax({url: '/invite/<%= users[i].id %>'}); $('#iButton<%= users[i].id %>').attr('disabled', true);" class="btn btn-lg btn-primary">Invite to play</a>
	</li>
<% } %>
</ul>

<script src="/node_modules/socket.io/libsocket.io.js"></script>
<script type="text/javascript">
window.onload = function () {
	var socket = io.connect('http://' + window.location.hostname + ':1337');
}
setTimeout('location.reload(false)', 10000); //HACK
</script>