<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<%res.header('Cache-Control', 'no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0');%>
		
        <!-- Stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

	</head>

	<body>
        <!-- Nav Bar -->
        <div class="navbar">
            <ul>
                <li><a href="/">Murtaziq</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/play">Play</a></li>
                <li><a href="/stats">Statistics</a></li>
            </ul>
            <ul>
                <li>
                <% 
                	if(req.session.user){ %>
                		<a href="/logout">Logout</a> 
                	<% }
                	else{ %>
                		<a href="/login">Login</a> 
                	<% }
                %>
            	</li>
            </ul>
        </div>
		<%- body %>

		<!-- Templates from your view path are included here -->
		<%- assets.templateLibrary() %>
		<!-- Javascripts from your assets folder are included here -->
		<%- assets.js() %>
	</body>
</html>
