<div id="piece-selection">
  <div class="row text-center">
    <div class="light-player col-md-2 col-md-offset-3">
      <h1>
        <strong> 
          <span class="username"><%=lightPlayer%></span>
        </strong>
      </h1>
      <div class="light-player-state"/>
    </div>
    <div class="col-md-2 versus">
      <h2>VS</h2>
    </div>
    <div class="dark-player col-md-2">      
      <h1>
        <strong>
          <span class="username"><%=darkPlayer%></span>
        </strong>
      </h1>
      <div class="dark-player-state"/>
    </div>
  </div>
  <ul class="pieceList connector">
    <% for(var i = 0; i < pieceList.length; i++){ %>
      <li class="piece" data-name="<%= pieceList[i].name %>">
        <img class="pieceImage" src="/images/pieces/<%= pieceList[i].name %> 1.png" height="100"/>
        <!-- Hidden until mouseover -->
        <div class="pieceInfo popover">
          <h3 class="popover-title">The <%= pieceList[i].name %></h3>
          <div class="popover-content">
            <ul>
              <li><strong>Cost:</strong><%= pieceList[i].value %></li>
              <li><strong>Moveset:</strong>TODO</li>
              <li><a href="/wiki/<%= pieceList[i].name %>" target="_blank">more info</a></li>
            </ul>
          </div>
        </div>
      </li>
    <% } %>
  </ul>

  <div>
    <span id="currentCost"></span> / <span id="maxCost"></span>
  </div>

  <div class="myTeamView connector">
    <div class="board-row">
      <% for (var j = 0; j < 8; j++) {%>
        <div data-pos="pawn" class="spot <%= (j%2 == 1) ? "dark" : "" %>" style="left:<%= j*100 %>px"></div>
      <% } %>
    </div>

    <div class="board-row">
      <div data-pos="rook" class="spot dark" style="left:0px"></div>
      <div data-pos="knight" class="spot" style="left:100px"></div>
      <div data-pos="bishop" class="spot dark" style="left:200px"></div>
      <div data-pos="royal" class="spot" style="left:300px"></div>
      <div data-pos="queen" class="spot dark" style="left:400px"></div>
      <div data-pos="bishop" class="spot" style="left:500px"></div>
      <div data-pos="knight" class="spot dark" style="left:600px"></div>
      <div data-pos="rook" class="spot" style="left:700px"></div>
    </div>
  </div>

  <div id="setAsTeamWrapper">
    <button class="btn btn-primary btn-large" data-loading-text="Loading..." data-waiting-text="Waiting..." id="setAsTeam">Ready!</button>
  </div>
</div>
