<ul class="pieceList connector">
  <% for(var i = 0; i < pieceList.length; i++){ %>
    <li class="piece" data-name="<%= pieceList[i].name %>">
      <img class="pieceImage" src="/images/pieces/<%= pieceList[i].name %> 1.png" height="100"/>
      <!-- Hidden until mouseover --!>
      <div class="pieceInfo">
        <h3>The <%= pieceList[i].name %></h3>
        <ul>
          <li><strong>Cost:</strong><%= pieceList[i].value %></li>
          <li><strong>Moveset:</strong>TODO</li>
          <li><a href="/wiki/<%= pieceList[i].name %>">more info</a></li>
        </ul>
      </div>
    </li>
  <% } %>
</ul>

<div>
  <span id="currentCost"></span> / <span id="maxCost"></span>
</div>

<ul class="myTeamView connector">
  <ul class="board-row">
    <li data-pos="pawn-spot" class="spot"></li>
    <li data-pos="pawn-spot" class="spot dark"></li>
    <li data-pos="pawn-spot" class="spot"></li>
    <li data-pos="pawn-spot" class="spot dark"></li>
    <li data-pos="pawn-spot" class="spot"></li>
    <li data-pos="pawn-spot" class="spot dark"></li>
    <li data-pos="pawn-spot" class="spot"></li>
    <li data-pos="pawn-spot" class="spot dark"></li>
  </ul>

  <ul class="board-row">
    <li data-pos="rook-spot" class="spot dark"></li>
    <li data-pos="knight-spot" class="spot"></li>
    <li data-pos="bishop-spot" class="spot dark"></li>
    <li data-pos="king-spot" class="spot"></li>
    <li data-pos="queen-spot" class="spot dark"></li>
    <li data-pos="bishop-spot" class="spot"></li>
    <li data-pos="knight-spot" class="spot dark"></li>
    <li data-pos="rook-spot" class="spot"></li>
  </ul>
</ul>

<button id="setAsTeam">Set Team</button>
