<div id="piece-selection">
  <ul class="pieceList connector">
    <% for(var i = 0; i < pieceList.length; i++){ %>
      <li class="piece" data-name="<%= pieceList[i].name %>">
        <img class="pieceImage" src="/images/pieces/<%= pieceList[i].name %> 1.png" height="100"/>
        <!-- Hidden until mouseover --!>
        <div class="pieceInfo">
          <h3>The <%= pieceList[i].name %></h3>
          <ul>
            <li><strong>Cost:</strong><%= pieceList[i].value %></li>
            <li><strong>Moveset:</strong>TODO</li>
            <li><a href="/wiki/<%= pieceList[i].name %>" target="_blank">more info</a></li>
          </ul>
        </div>
      </li>
    <% } %>
  </ul>

  <div>
    <span id="currentCost"></span> / <span id="maxCost"></span>
  </div>

  <div class="myTeamView connector">
    <div class="board-row">
      <% for (var j = 0; j < 8; j++) {%>
        <div data-pos="pawn-spot" class="spot <%= (j%2 == 1) ? "dark" : "" %>" style="left:<%= j*100 %>px"></div>
      <% } %>
    </div>

    <div class="board-row">
      <div data-pos="rook-spot" class="spot dark" style="left:0px"></div>
      <div data-pos="knight-spot" class="spot" style="left:100px"></div>
      <div data-pos="bishop-spot" class="spot dark" style="left:200px"></div>
      <div data-pos="king-spot" class="spot" style="left:300px"></div>
      <div data-pos="queen-spot" class="spot dark" style="left:400px"></div>
      <div data-pos="bishop-spot" class="spot" style="left:500px"></div>
      <div data-pos="knight-spot" class="spot dark" style="left:600px"></div>
      <div data-pos="rook-spot" class="spot" style="left:700px"></div>
    </div>
  </div>

  <button class="btn btn-primary btn-large" id="setAsTeam">Set Team</button>
</div>
